<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="TeamCity Packages" value="http://unit-447:8111/guestAuth/app/nuget/v1/FeedService.svc/" />
  </activePackageSource>
  <packageSources>
    <add key="TeamCity Packages" value="http://unit-447:8111/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
</configuration>